################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCinWPF/bin/Debug
/MVCinWPF/obj/Debug
